<% provide(:title, 'ユーザ一覧') %>
<div class="container">
  <div class="my-4 d-flex justify-content-between">
    <div>
      <h1 class="ml-3" >ユーザ一覧</h1>
    </div>
    <div>
      <%= link_to "新規従業員登録", new_user_path,class:"btn btn-outline-secondary mt-1" %>
    </div>
  </div>
  <div class="users accordion" id="accordionExample">
    <% @users.each do |user| %>
      <div class="accordion-item">
        <div id=<%= "heading"+user.id.to_s%> 
              class="accordion-header" >
          <button class="accordion-button collapsed mb-0"
                type="button" data-bs-toggle="collapse" 
                data-bs-target=<%= "#collapse"+user.id.to_s%> 
                aria-expanded="false" 
                aria-controls=<%= "collapse"+user.id.to_s%>>
            <%=  user.name %>
          </button>
        </div>
        <div  id=<%= "collapse"+user.id.to_s%> 
              class="accordion-collapse collapse" 
              aria-labelledby=<%= "heading"+user.id.to_s %> 
              data-bs-parent="#accordionExample">
          <div class="accordion-body d-flex justify-content-end">
            <div>
              <%= link_to "勤怠情報",
              {controller: "users", id: user.id, action: "works",date: Date.today},
                                      class:"btn btn-outline-secondary" %>
              <%= link_to "設定", user, class:"btn btn-outline-secondary " %>
              <%= link_to "削除", user, method: :delete, 
              data: {confirm: "ユーザ情報と一緒に勤怠情報も削除されます"},
              class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
