<% provide(:title, @user.name) %>
<div class="container">
    従業員番号：<%= @user.number %><br>名前：<%= @user.name %>
    <div class="row pt-3">
        
        <div class="col">
        <%= link_to "ユーザ情報変更", edit_user_path(@user),
                                class:"btn btn-primary d-block" %>
        </div>
        <div class="col">
        <%= link_to "勤怠情報一覧", works_user_path(@user),
                                class:"btn btn-primary d-block" %>
        </div>
        <div class="col"><%= link_to "ログアウト", logout_path, 
        method: :delete,class: "btn btn-danger d-block" %></div>
    </div>
    
    
    
</div>
