<% provide(:title, @user.name+"さんの勤怠情報") %>
<div class="container pt-3">
  <% if @user.works.any? %>
    <ol class="works list-group">
      <% @works.each do |work|%>
        <li class="list-group-item d-flex justify-content-between">
          <div class="h3 mb-0 mt-1">
            <%= work.day.day %>日  <%=start_time(work) %>〜<%= finish_time(work) %>
          </div>
          <%= link_to "編集", edit_work_path(work), class: "btn btn-primary" %>
        </li>
        <% w_min_cal(work)%>
      <% end %>
    </ol>
    <div class="d-flex">
    合計就業時間 <%= w_time(w_min)%>
    </div>
  <% else %>
    <%= @user.name %>さんの勤怠情報はありません
  <% end %>
  <div class="row pt-3">
    <div class="col">
    <%= link_to "勤怠情報を追加", new_work_path,
                class:"btn btn-primary d-block" %>
    </div>
  </div>
</div>